#nav-icon {
  margin: 0 auto;
  display: block;
}
#icon-links-container {
  float: right;
  position: fixed;
  top: 90px;
  right: 30px;
  width: 5vw;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  text-align:center;
  margin: 0px;
}
#header-icon-github {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  background-position: center center;
  background-size: cover;
  margin: 25px 0px 15px 0px;
}
.github-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-linkedin {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.linkedin-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-youtube {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.youtube-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-instagram {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.instagram-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-facebook {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.facebook-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-movierelics {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.movierelics-pic {
  width: 4.5vw;
  height: auto;
  background-color: #00000000;
}
.header-icon:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
.header-icon:focus {
  outline: none;
}
.header-icon.color {
  background-image: linear-gradient(to left, black, #37c9ef, black, black);
}