@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=#BF953Ftail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
}

li {
    list-style: none
}

body {
    margin: 4px;
    font-family: 'Rock Salt', cursive;
    background-color: #BF953F;
}

/* -------------------------Section 1 Boxes--------------------------- */
.section-2 {
    text-align: center;
    font-size: 1vw;
    background: black;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.45)), rgba(0, 0, 0, 0.55) url(4bOJWh.jpeg);
    background-size: 120%;
    height: 550px;
    width: 100%;
    border: 2px solid;
    border-top-color: #BF953F;
    border-right-color: #BF953F;
    border-bottom-color: #BF953F;
    border-left-color: #BF953F;
    padding: 5px 5px 5px 5px;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
}

.section-3 {
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.45)), rgba(0, 0, 0, 0.55) url(black-and-white-architecture-road-white-street-photography-1203061-pxhere.com.jpg);
    background-attachment: fixed;
    background-size: 100%;
    padding: 40px 0px 45vw 20px;
    width: 100%;
}

.section-4 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 1vw;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.45)), rgba(0, 0, 0, 0.55) url(chris-barbalis-211599.webp);
    color: #BF953F;
    background-size: 100%;
    height: 1400px;
    width: 100%;
    border: 2px solid;
    border-top-color: #BF953F;
    border-right-color: #BF953F;
    border-bottom-color: #BF953F;
    border-left-color: #BF953F;
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
}

.hustle-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 350px);
    gap: 10px;
    grid-auto-rows: 100px;
    align-items: start;
    justify-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

.side-hustle {
    margin-top: 25px;
    font-size: 3.5em;
    color: black;
    font-family: 'Rock Salt', cursive;
    text-shadow: 4px 4px lightskyblue;
    background: darkblue;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video {
    padding: 1em;
    border: 4px solid #BF953F;
    border-radius: 15px;
    background-color: #00000099;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.8);
}

.collection {
    height: 500px;
    width: auto;
    border: 4px solid #BF953F;
    border-radius: 15px;
    margin-left: 3vw;
    margin-bottom: 50px;
}