#top-button {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  border: #000;
  z-index: 500;
  transition-duration: 0.4s;
  background-color: #0000;
}
.button-pic {
  width: 80px;
  height: auto;
  background-color: #00000019;
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
}
#top-button:hover {
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
  box-shadow: 0 5px #B026FF;
  transform: translateY(5px);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}