#nav-icon {
  margin: 0 auto;
  display: block;
}

#icon-links-container {
  position: fixed;
  display: flex;
  top: -10px;
  right: 1vmax;
  width: 25vw;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  text-align: center;
  margin: 0px;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-end;
}

#header-icon-github {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  background-position: center center;
  background-size: cover;
  margin: 25px 0px 15px 0px;
}

.github-pic {
  width: 2.5vmax;
  height: auto;
  background-color: #00000000;
}

#header-icon-linkedin {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.linkedin-pic {
  width: 2.5vmax;
  height: auto;
  background-color: #00000000;
}

#header-icon-youtube {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.youtube-pic {
  width: 2.5vmax;
  height: auto;
  background-color: #00000000;
}

#header-icon-instagram {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.instagram-pic {
  width: 2.5vmax;
  height: auto;
  background-color: #00000000;
}

#header-icon-facebook {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.facebook-pic {
  width: 2.5vmax;
  height: auto;
  background-color: #00000000;
}

#header-icon-movierelics {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px -10px;
}

.movierelics-pic {
  width: 2.5vmax;
  height: auto;
  background-color: #00000000;
}

.header-icon:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.header-icon:focus {
  outline: none;
}

.header-icon.color {
  background-image: linear-gradient(to left, black, #37c9ef, black, black);
}