*, *::before, *::after {
  box-sizing: border-box;
}

/* -----------------------------------------------Body------------------------------------------------- */
body {
  background: white;
}

/* ----------------------------------------------Nav Bar----------------------------------------------- */
#nav {
  text-align: center;
}

#navbar {
  top: 0px;
  Left: 0px;
  width: 100%;
  height: 80px;
  z-index: 500;
  background-color: #2c92d5;
  border: 3px solid;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #08E8DE;
  border-left-color: #2c92d5;
  opacity: 90%;
  position: fixed;
  box-shadow: 0 2px 30px rgba(44, 146, 213, .80);
}

#navbar #nav-icon {
  padding: 25px 5px 5px 5px;
}

#name {
  font-size: 30px;
  text-decoration-color: #08E8DE;
  color: white;
  font-family: 'Rock Salt', cursive;
  margin: 0vmax 0vw 5px 5.5vmax;
}

#logo {
  float: left;
}

#logo-img {
  width: 70px;
  height: auto;
  padding: 3px;
  position: fixed;
}

/* iii */
#nav-icon {
  margin: 0 auto;
  display: block;
}

#icon-links-container {
  float: right;
  position: fixed;
  top: 90px;
  right: 10px;
  width: 5vw;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  text-align: center;
  margin: 0px;
}

#header-icon-github {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  background-position: center center;
  background-size: cover;
  margin: 25px 0px 15px 0px;
}

.github-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}

#header-icon-linkedin {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.linkedin-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}

#header-icon-youtube {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.youtube-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}

#header-icon-instagram {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.instagram-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}

#header-icon-facebook {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.facebook-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}

#header-icon-movierelics {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.movierelics-pic {
  width: 4.5vw;
  height: auto;
  background-color: #00000000;
}

.header-icon:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.header-icon:focus {
  outline: none;
}

.header-icon.color {
  background-image: linear-gradient(to left, black, #37c9ef, black, black);
}

/* iii */
#links-container {
  text-align: center;
  padding: 57px 17vw 1vw 1vw;
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px;
}

.header-button {
  font-size: 1rem;
  font-family: 'Prompt', sans-serif;
  width: 8vw;
  font-weight: 600;
  color: black;
  background-color: white;
  cursor: pointer;
  margin: 2.7px 0vw 0vw 5.7vw;
  height: 25px;
  text-align: center;
  border: 1px solid;
  border-color: #86eae9;
  background-size: 300% 100%;
  border-radius: 0px 0px 20px 20px;
  border-top-color: #0000;
  transition: all .4s ease-in-out;
}

.header-button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.header-button:focus {
  outline: none;
}

.header-button.color {
  background-image: linear-gradient(to left, white, #faff00, white, white);
}

/* ---------------------------------------------Main Body---------------------------------------------- */
.words {
  padding-left: 5px;
  padding-right: 5px;
}

.body {
  width: 100%;
  height: 100%;
  color: #0000;
  background-repeat: no-repeat;
  padding: 0px 20px 25px 20px;
}

#section-1 {
  height: 56vmin;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15)), rgba(0, 0, 0, 0.35) url(AE62FD10-6524-4E57-9860-386EE367B710.JPG);
  background-attachment: fixed;
  color: black;
  background-color: white;
  right: 0px;
  opacity: 0.8;
  text-align: right;
  font-family: 'Rock Salt', cursive;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1vw;
  font-weight: bold;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 36vmax 0px 20vw 40px;
  margin: 0px 0px 0vw 0px;
  width: 95%;
  z-index: -10;
}

.container-1 {
  height: 200px;
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  background-color: white;
  border: 2px solid black;
  opacity: 1 !important;
  z-index: 10;
}

.section-2 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  font-family: 'Rock Salt', cursive;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-image: url(download.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 18%;
  font-size: 1vw;
  color: black;
  text-align: left;
  background-color: white;
  height: 400px;
  width: 95%;
  opacity: 0.6;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
}

.section-3 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  background-image: url(2CBEFD6C-E977-4E66-A4AF-2A51D3A57474.png);
  background-attachment: fixed;
  background-size: 40%;
  opacity: 0.7;
  background-color: white;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: black;
  background-repeat: no-repeat;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
}

.words-2 {
  color: black;
  font-family: 'Rock Salt', cursive;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.2vw;
}

.words-3 {
  color: black;
  font-family: 'Rock Salt', cursive;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.0vw;
}

.section-4 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  background-image: url(cbc-logo-2c-fdic-tag-rgb-stacked-2016.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 15%;
  background-color: white;
  background-position: center;
  text-align: right;
  font-size: 1vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  height: 450px;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  opacity: 0.7;
}

.section-5 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  font-size: 1vw;
  background-image: url(favpng_constellis-triple-canopy-academi-private-military-company.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 20%;
  background-color: white;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  height: 500px;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  opacity: 0.7;
}

.section-6 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  background-image: url(Wells-Fargo-Logo.webp);
  background-attachment: fixed;
  font-size: 1vw;
  background-color: white;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  background-size: 40%;
  height: 400px;
  background-repeat: no-repeat;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  opacity: 0.7;
}

.section-7 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  height: 200px;
  background-image: url(U_S_Bank_logo_logotype_emblem.jpeg);
  background-size: 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1vw;
  background-color: white;
  background-position: center;
  border: 2px dashed black;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  height: 400px;
  color: black;
  opacity: 0.7;
}

.section-8 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  font-size: 1vw;
  text-align: left;
  background-image: url(Northwestern-Mutual.jpeg);
  background-size: 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1vw;
  background-color: white;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  height: 400px;
  width: auto;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  opacity: 0.7;
}

.section-9 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  background-image: url(army-background.jpg);
  background-attachment: fixed;
  background-size: 100%;
  font-size: 1vw;
  background-color: white;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  height: 1100px;
  text-align: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  margin: 5vw 5vw 0vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  opacity: 0.7;
}

.section-10 {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.8);
  text-align: right;
  font-size: 1vw;
  background-image: url(20190318205556_889_mascotOrig.jpeg);
  background-size: 10%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1vw;
  background-color: white;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
  color: black;
  height: 500px;
  width: auto;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
  opacity: 0.7;
}

.box2 {
  height: 600px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border: 2px solid black;
  margin: 5vw 5vw 10vw 0vw;
  padding: 15px 15px 15px 15px;
  width: 95%;
}

/* ----------------------------------------------Button------------------------------------------------ */
#top-button {
  position: fixed;
  bottom: 20px;
  right: 15px;
  cursor: pointer;
  border: #000;
  transition-duration: 0.4s;
  background-color: #0000;
}

.button-pic {
  width: 80px;
  height: auto;
  background-color: #00000019;
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
}

#top-button:hover {
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
  box-shadow: 0 5px #B026FF;
  transform: translateY(5px);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

/* -------------------------------------------Links Extension------------------------------------------ */
#links-nav-icon {
  margin: 0 auto;
  display: block;
}

#links-icon-links-container {
  position: fixed;
  display: flex;
  top: 350px;
  right: 21vmax;
  width: 55vw;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  text-align: center;
  margin: 0px;
  justify-content: space-between;
  align-items: flex-end;
}

#links-header-icon-github {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  background-position: center center;
  background-size: cover;
  margin: 25px 0px 15px 0px;
}

.links-github-pic {
  width: 5vmax;
  height: auto;
  background-color: #00000000;
}

#links-header-icon-linkedin {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.links-linkedin-pic {
  width: 5vmax;
  height: auto;
  background-color: #00000000;
}

#links-header-icon-youtube {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.links-youtube-pic {
  width: 5vmax;
  height: auto;
  background-color: #00000000;
}

#links-header-icon-instagram {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.links-instagram-pic {
  width: 5vmax;
  height: auto;
  background-color: #00000000;
}

#links-header-icon-facebook {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}

.links-facebook-pic {
  width: 5vmax;
  height: auto;
  background-color: #00000000;
}

#links-header-icon-movierelics {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px -10px;
}

.links-movierelics-pic {
  width: 5vmax;
  height: auto;
  background-color: #00000000;
}

.links-header-icon:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.links-header-icon:focus {
  outline: none;
}

.links-header-icon.color {
  background-image: linear-gradient(to left, black, #37c9ef, black, black);
}

/* -------------------------------------------Device Settings------------------------------------------ */
@media screen and (max-width: 992px) {
  body {
    background-color: white;
    color: black;
  }

  #links-container {
    width: 70%;
    margin: 30px 20px;
  }

  #nav-icon {
    margin: 5px 5px 5px 5px;
    display: block;
  }

  #icon-links-container {
    /* width: 15%; */
    position: fixed;
    display: flex;
    top: 170px;
    right: 25vmax;
    width: 55vw;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #0000;
    text-align: center;
    margin: 0px;
    justify-content: space-between;
    align-items: flex-end;
  }

  #header-icon-github {
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    background-color: #0000;
    margin: 0px 0px 15px 0px;
  }

  .github-pic {
    width: 30px;
    height: auto;
    background-color: #00000000;
  }

  #header-icon-linkedin {
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    background-color: #0000;
    margin: 0px 0px 15px 0px;
  }

  .linkedin-pic {
    width: 30px;
    height: auto;
    background-color: #00000000;
  }

  #header-icon-youtube {
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    background-color: #0000;
    margin: 0px 0px 15px 0px;
  }

  .youtube-pic {
    width: 30px;
    height: auto;
    background-color: #00000000;
  }

  #header-icon-instagram {
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    background-color: #0000;
    margin: 0px 0px 15px 0px;
  }

  .instagram-pic {
    width: 30px;
    height: auto;
    background-color: #00000000;
  }

  #header-icon-facebook {
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    background-color: #0000;
    margin: 0px 0px 15px 0px;
  }

  .facebook-pic {
    width: 30px;
    height: auto;
    background-color: #00000000;
  }

  #header-icon-movierelics {
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    background-color: #0000;
    margin: 0px 0px 15px -5px;
  }

  .movierelics-pic {
    width: 35px;
    height: auto;
    background-color: #00000000;
  }

  .header-button {
    font-size: 12px;
    font-family: 'Prompt', sans-serif;
    width: 80px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 2px 40px 0px -15px;
    height: 25px;
    text-align: center;
    border: 1px solid;
    border-color: #86eae9;
    background-size: 300% 100%;
    border-radius: 0px 0px 20px 20px;
    border-top-color: #0000;
    transition: all .4s ease-in-out;
    background-size: cover;
  }

  #top-button {
    position: fixed;
    bottom: 20px;
    left: -700px;
    cursor: pointer;
    border: #000;
    transition-duration: 0.4s;
    background-color: #0000;
  }

  .button-pic {
    width: 80px;
    height: auto;
    background-color: #00000019;
    border-radius: 50%;
    box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
  }

  /* If a screen is 600px or less wide, stack the columns on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    body {
      background-color: white;
    }

    #links-container {
      width: 70%;
      margin: 45px -10px;
    }

    #nav-icon {
      margin: 5px 5px 5px 5px;
      display: block;
    }

    #icon-links-container {
      /* width: 15%; */
      position: fixed;
      display: flex;
      top: 180px;
      right: 18vmax;
      width: 55vw;
      cursor: pointer;
      transition-duration: 0.4s;
      background-color: #0000;
      text-align: center;
      margin: 0px;
      justify-content: space-between;
      align-items: flex-end;
    }

    #header-icon-github {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }

    .github-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }

    #header-icon-linkedin {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }

    .linkedin-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }

    #header-icon-youtube {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }

    .youtube-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }

    #header-icon-instagram {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }

    .instagram-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }

    #header-icon-facebook {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }

    .facebook-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }

    #header-icon-movierelics {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px -5px;
    }

    .movierelics-pic {
      width: 32px;
      height: auto;
      background-color: #00000000;
    }

    .header-button {
      font-size: 12px;
      font-family: 'Prompt', sans-serif;
      width: 60px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 2px 6px 0px -15px;
      height: 25px;
      text-align: center;
      border: 1px solid;
      border-color: #86eae9;
      background-size: 300% 100%;
      border-radius: 0px 0px 20px 20px;
      border-top-color: #0000;
      transition: all .4s ease-in-out;
    }
  }
}